# Video Game Stats

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./vgsales.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [5]:
df.head(10)
df.tail(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [9]:
df[["Name", "Year"]]

                                                   Name    Year
0                                            Wii Sports  2006.0
1                                     Super Mario Bros.  1985.0
2                                        Mario Kart Wii  2008.0
3                                     Wii Sports Resort  2009.0
4                              Pokemon Red/Pokemon Blue  1996.0
...                                                 ...     ...
16593                Woody Woodpecker in Crazy Castle 5  2002.0
16594                     Men in Black II: Alien Escape  2003.0
16595  SCORE International Baja 1000: The Official Game  2008.0
16596                                        Know How 2  2010.0
16597                                  Spirits & Spells  2003.0

[16598 rows x 2 columns]

In [10]:
df.set_index("Name")

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Wii Sports,1,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
Super Mario Bros.,2,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
Mario Kart Wii,3,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
Wii Sports Resort,4,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
Pokemon Red/Pokemon Blue,5,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...
Woody Woodpecker in Crazy Castle 5,16596,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
Men in Black II: Alien Escape,16597,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
SCORE International Baja 1000: The Official Game,16598,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
Know How 2,16599,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
Spirits & Spells,16600,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [16]:
most_common_publisher = df[["Publisher", "Global_Sales"]].sort_values("Global_Sales", ascending=False)

In [17]:
print(most_common_publisher)

                         Publisher  Global_Sales
0                         Nintendo         82.74
1                         Nintendo         40.24
2                         Nintendo         35.82
3                         Nintendo         33.00
4                         Nintendo         31.37
...                            ...           ...
16186              Electronic Arts          0.01
16187                    Avanquest          0.01
16188  Sony Computer Entertainment          0.01
16189                         Sega          0.01
16597                      Wanadoo          0.01

[16598 rows x 2 columns]

In [20]:
most_common_platform = df[["Platform", "Global_Sales"]].sort_values("Global_Sales", ascending=False)

In [21]:
print(most_common_platform)

      Platform  Global_Sales
0          Wii         82.74
1          NES         40.24
2          Wii         35.82
3          Wii         33.00
4           GB         31.37
...        ...           ...
16186       PC          0.01
16187       PC          0.01
16188      PS3          0.01
16189       PC          0.01
16597      GBA          0.01

[16598 rows x 2 columns]

In [22]:
most_common_genre = df[["Genre", "Global_Sales"]].sort_values("Global_Sales", ascending=False)

In [23]:
print(most_common_genre)

              Genre  Global_Sales
0            Sports         82.74
1          Platform         40.24
2            Racing         35.82
3            Sports         33.00
4      Role-Playing         31.37
...             ...           ...
16186      Strategy          0.01
16187        Puzzle          0.01
16188          Misc          0.01
16189        Racing          0.01
16597      Platform          0.01

[16598 rows x 2 columns]

In [24]:
highest_grossing_game = df[["Name", "Global_Sales"]].sort_values("Global_Sales", ascending=False)

In [25]:
print(highest_grossing_game)

                                       Name  Global_Sales
0                                Wii Sports         82.74
1                         Super Mario Bros.         40.24
2                            Mario Kart Wii         35.82
3                         Wii Sports Resort         33.00
4                  Pokemon Red/Pokemon Blue         31.37
...                                     ...           ...
16186                           BattleForge          0.01
16187                        Jewel Quest II          0.01
16188                      Toro to Morimori          0.01
16189  Sonic & All-Stars Racing Transformed          0.01
16597                      Spirits & Spells          0.01

[16598 rows x 2 columns]